h1
{
     
     color: gold;
     
}
body

{
   background-color: firebrick; 
   color: aliceblue;

}
p
{
  height: 6000px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;

  text-align: center;
  margin-right: 200px;
  
  background-image: 200px;
 
  text-align: center;

}





    
 
   


 







